body{
	margin: 0;
	padding: 0;
	border: 0;
	color: white;
	font-family: Arial;
	font-size: 15px;
}

canvas{
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

.description{
	margin: 10px;
}

.force_text{
	font-size: 13px;
}

.input{
	float: left;
	height: 11px;
	width: 25px;
}

.label{
	float: left;
	margin-right: 5px;
	margin-left: 10px;
}

.time_text{
	float: left;
	margin: 0 2px 0 2px;
	width: 30px;
}

.solver_menu{
	float: left;
	font-size: 12px;
}

.ui{
	position: absolute;
}

.hidden{
	visibility: hidden;
	position: absolute;
	width: 0;
	height: 0;
}